#popup-container {
	position: fixed;
	top: 5px;
	left: 50%;
	width: 30%;
	height: calc(100% - 10px);
	transform: translate(-50%, 0);
	max-height: 100%;
	min-width: 500px;
	pointer-events: none;
	z-index: 102;
	color: black;
}

.popup {
	position: relative;
	top: 50%;
	left: 50%;
	min-width: 100px;
	min-height: 200px;
	background-color: #ffffff;
	pointer-events: all;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 5px;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	border: 3px solid #1d1d1d;
	box-shadow: 10px 5px 10px #1d1d1d;

}

.popup-button {
	width: 100%;
	height: 50px;
	border: none;
	background-color: limegreen;
	font-family: 'Germania One';
	font-size: 25px;
	margin-top: 5px;
	align-self: end;
}

.popup-button:hover {
	background-color: lime;
	cursor: pointer;
}

.popup-title {
	position: relative;
	left: 5px;
	width: calc(100% - 10px);
	margin: 0;
	margin-top: 10px;
	font-weight: bold;
	font-size: 30px;
	user-select: none;
}

.popup-text {
	position: relative;
	left: 5px;
	width: calc(100% - 10px);
	margin: 0;
	margin-top: 5px;
	font-size: 25px;
	flex-grow: 1;
	display: grid;
	align-content: center;
	user-select: none;
}

.popup-cards-view {
	width: 100%;
	display: flex;
	justify-content: center;
}

.popup-cards-view > img {
	width: 30%;
}

#popup-unhide-button {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	background-color: orangered;
	font-size: 30px;
	border: none;
	border-radius: 50%;
	z-index: 101;
}

#popup-unhide-button:hover {
	background-color: red;
	cursor: pointer;
}

@media only screen and (max-width: 46.875em) {
	.popup {
		top: 50%;
		left: 5px;
		width: calc(100% - 16px);
		transform: translate(0, -50%);
	}

	#popup-container {
		top: 5px;
		left: 5px;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		transform: none;
		min-width: unset;
	}
}