#popup-container {
	position: absolute;
	z-index: 102;
	color: black;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.popup {
	min-height: 200px;
	background-color: #ffffff;
	pointer-events: all;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	border: 3px solid #1d1d1d;
	box-shadow: 10px 5px 10px #1d1d1d;
	transition: all 0.3s;
	animation-duration: 0.3s;
	animation-name: popup;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	opacity: 0;
	transform: scale(0);
	width: 500px;
	max-width: calc(100% - 16px);
}
#popup-container:not(:empty) {
	background: rgba(0, 0, 0, 0.5);
}
@keyframes popup {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	80% {
		opacity: 1;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.popup[class*="win-"] {
	color: #fff;
}
.popup.win-liberals {
	background: #0091b3;
}
.popup.win-fascists {
	background: #a35c2f;
}
.popup.win-communists {
	background: #d60e00;
}
.popup[class*="win-"] .popup-title {
	background: rgba(0, 0, 0, 0.3);
	margin: 0;
	width: 100%;
	left: 0;
	line-height: 50px;
	color: #fff;
	letter-spacing: 3px;
	font-weight: 100;
}
.popup-button {
	height: 50px;
	border: none;
	font-family: "Germania One";
	font-size: 25px;
	margin-top: 5px;
	align-self: end;
	margin: 0 5px 10px 5px;
	border-radius: 5px;
	padding: 0 45px;
}
.popup.popup[class*="win-"] .popup-button {
	background-color: #fff;
}

.popup.popup[class*="win-"] .popup-button:hover {
	background-color: #eee;
}


.popup-input {
	width: calc(100% - 20px);
	height: 40px;
	border: 1px solid lightgray;
	font-family: 'Germania One';
	font-size: 25px;
	margin-top: 5px;
	align-self: center;
}

.popup-button:hover {
	background-color: lime;
	cursor: pointer;
}

.popup-title {
	position: relative;
	left: 5px;
	width: calc(100% - 10px);
	margin: 0;
	margin-top: 10px;
	font-weight: bold;
	font-size: 30px;
	user-select: none;
}

.popup-text {
	position: relative;
	left: 5px;
	width: calc(100% - 10px);
	margin: 0;
	margin-top: 5px;
	font-size: 25px;
	flex-grow: 1;
	display: grid;
	align-content: center;
	user-select: none;
}

.popup-cards-view {
	width: 100%;
	display: flex;
	justify-content: center;
}

.popup-cards-view > img {
	width: 30%;
}

#popup-unhide-button {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	background-color: orangered;
	font-size: 30px;
	border: none;
	border-radius: 50%;
	z-index: 101;
}

#popup-unhide-button:hover {
	background-color: red;
	cursor: pointer;
}

@media only screen and (max-width: 46.875em) {
	.popup {
		top: 50%;
		left: 5px;
		width: calc(100% - 16px);
		transform: translate(0, -50%);
	}

	#popup-container {
		top: 5px;
		left: 5px;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		transform: none;
		min-width: unset;
	}
}