body, html {
	margin: 0;
	overflow: hidden;
	background-color: rgb(0, 136, 255);
	font-size: 30px;
	text-align: center;
	font-family: 'Germania One';
}

#play-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.input {
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
	border: none;
	height: 30px;
	font-family: 'Germania One';
	font-size: 20px;
}

.btn {
	background-color: limegreen;
	border: none;
	font-family: 'Germania One';
	font-size: 20px;
	cursor: pointer;
	color: black;
}

.btn:hover {
	background-color: lime;
}

.w {
	width: 20%;
}

.center {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.space-top {
	margin-top: 10px;
}

#btn-reset {
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 30px;
	background-color: orangered;
	z-index: 100;
}

.clickable {
	cursor: pointer;
}

.ingame-button {
	background-color: white;
	border: none;
	font-family: 'Germania One';
	font-size: 20px;
	cursor: pointer;
	color: black;
}

#canvas-div {
	position: relative;
}

#main-canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#event-log {
	position: absolute;
	left: 10px;
	bottom: 38px;
	width: calc(20% - 20px);
	height: 30%;
	resize: none;
	background-color: #363835;
	border: none;
	font-family: 'Germania One';
	color: white;
	padding: 5px;
	font-size: 1vw;
	outline: 0;
}

#chat-in {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: calc(20% - 20px);
	height: 25px;
	resize: none;
	background-color: #363835;
	border: none;
	font-family: 'Germania One';
	color: white;
	padding: 5px;
	font-size: 1vw;
	outline: 0;
}

#room-id-display {
	position: absolute;
	left: 10px;
	top: 10px;
	width: calc(20% - 20px);
	height: 50px;
	color: white;
	font-size: 2vw;
	display: grid;
	align-content: center;
}

#copy-invite {
	position: absolute;
	left: 10px;
	top: 70px;
	width: calc(20% - 20px);
	height: 30px;
	resize: none;
	background-color: #363835;
	border: none;
	font-family: 'Germania One';
	color: white;
	font-size: 1vw;
	outline: 0;
}

#game-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #1d1d1d;
}

#canvas-container {
	width: 60%;
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

#card-pile-container {
	position: absolute;
	right: calc(80% + 10px);
	top: 50%;
	transform: translate(0, -50%);
	max-width: 200px;
	height: min-content;
	user-select: none;
}

#card-pile {
	width: 100%;
	height: auto;
}

#card-pile-text {
	position: absolute;
	top: 55%;
	left: 0;
	width: 100%;
	font-size: 3vw;
	color: white;
	text-align: center;
}

#player-list {
	position: absolute;
	top: 10px;
	right: 10px;
	width: calc(20% - 20px);
	height: calc(100% - 20px);
	background-color: #363835;
	overflow-x: hidden;
	overflow-y: auto;
	user-select: none;
}

.player-list-element {
	position: relative;
	left: 10px;
	width: calc(100% - 20px);
	margin-top: 10px;
	font-size: 1.5vw;
	color: white;
	text-align: left;
	min-height: 50px;
}

.player-list-element > a {
	display:block;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.player-icon {
	width: 1.5vw;
	margin-right: 5px;
	margin-top: 5px;
}

.player-list-element::after {
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	margin-top: 5px;
	background: linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128, 128, 128, 255), rgba(128, 128, 128, 0))
}

.player-list-placeholder {
	display: inline-block;
	height: 1.5vw;
}