body, html {
	margin: 0;
	overflow: hidden;
	background-color: #df7258;
	font-size: 30px;
	text-align: center;
	font-family: 'Germania One';
}

#play-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.input {
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	background-color: white;
	border: none;
	height: 30px;
	font-family: 'Germania One';
	font-size: 25px;
}

.menu-item {
	width: 400px;
	min-height: 40px;
}

.center {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.space-top {
	margin-top: 10px;
}

#btn-reset {
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 40px;
	background-color: orangered;
	z-index: 100;
}

.clickable {
	cursor: pointer;
}

.ingame-button {
	background-color: white;
	border: none;
	font-family: 'Germania One';
	font-size: 20px;
	cursor: pointer;
	color: black;
}

#canvas-div {
	position: relative;
}

#main-canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#event-log {
	position: absolute;
	left: 10px;
	bottom: 50px;
	width: calc(20% - 30px);
	height: 30%;
	resize: none;
	background-color: #363835;
	border: none;
	font-family: 'Germania One';
	color: white;
	padding: 5px;
	font-size: 1vw;
	outline: 0;
}

#chat-in {
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: calc(20% - 30px);
	height: 25px;
	resize: none;
	background-color: #363835;
	border: none;
	font-family: 'Germania One';
	color: white;
	padding: 5px;
	font-size: 1vw;
	outline: 0;
}

#room-id-display {
	position: absolute;
	left: 10px;
	top: 10px;
	width: calc(20% - 20px);
	height: 50px;
	color: white;
	font-size: 2vw;
	display: grid;
	align-content: center;
}

#copy-invite {
	position: absolute;
	left: 10px;
	top: 70px;
	width: calc(20% - 20px);
	height: 30px;
	resize: none;
	font-size: 1vw;
	outline: 0;
}

#game-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #1d1d1d;
}

#canvas-container {
	width: 60%;
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

#card-pile-container {
	position: absolute;
	right: calc(80% + 10px);
	top: 50%;
	transform: translate(0, calc(-50% - 25px)); /* Subtract half the space that the button uses to always keep the card pile centered */
	width: min-content;
	height: min-content;
	user-select: none;
}

#card-pile {
	width: var(--card-width);
	height: auto;
}

#card-pile-text {
	position: absolute;
	top: calc(55% + 25px);
	left: 0;
	width: 100%;
	font-size: 3vw;
	color: white;
	text-align: center;
}

#card-pile-draw {
	width: 100%;
	margin-bottom: 10px;
	height: 40px;
	font-size: 1.5vw;
	visibility: hidden;
}

#player-role {
	position: absolute;
	top: 10px;
	right: 10px;
	width: calc(20% - 20px);
	height: 50px;
	font-size: 2vw;
	background-color: #363835;
	user-select: none;
	display: grid;
	align-content: center;
}

#player-list {
	position: absolute;
	top: 70px;
	right: 10px;
	width: calc(20% - 20px);
	height: calc(100% - 140px);
	background-color: #363835;
	overflow-x: hidden;
	overflow-y: auto;
	user-select: none;
}

.player-list-element {
	position: relative;
	left: 10px;
	width: calc(100% - 20px);
	margin-top: 10px;
	font-size: 1.5vw;
	color: white;
	text-align: left;
}

.player-name {
	display: inline-block;
	width: 70%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.player-icon {
	width: 1.5vw;
	margin-right: 5px;
}

.player-list-element::after {
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	margin-top: 5px;
	background: linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128, 128, 128, 255), rgba(128, 128, 128, 0))
}

.player-button {
	display: inline-block;
	position: absolute;
	width: 30%;
	height: 100%;
	top: 0;
	font-size: 1.5vw;
}

#player-list-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: calc(20% - 20px);
	height: 50px;
	font-size: 30px;
	display: none;
}

.player-icons {
	width: 100%;
	height: 1.5vw;
	margin-top: 5px;
}

.player-upper {
	position: relative;
	width: 100%;
	height: 2vw;
}

.mobile-button {
	display: none;
}

#vote-buttons, #veto-buttons {
	display: none;
	position: fixed;
	bottom: 0;
	left: 50%;
	height: 70px;
	pointer-events: none;
	transform: translate(-50%, 0);
}

.vote-button, .veto-button {
	display: inline-block;
	top: 0;
	width: 150px;
	height: 100%;
	font-size: 30px;
	pointer-events: all;
	margin-left: 5px;
	margin-right: 5px;
}

.fancy-button {
	background-color: white;
	border: none;
	font-family: 'Germania One';
	border-radius: 5px;
}

.fancy-button:hover {
	cursor: pointer;
	background-color: lightgray;
}

.btn {
	font-size: 25px;
}

#pick-cards {
	display: none;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: min-content;
	transform: translate(-50%, 0);
}

#pick-cards-cards {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #363835;
	gap: 10px;
}

#pick-cards-cards > img {
	width: var(--card-width);
	cursor: pointer;
}

.cards-button {
	height: 40px;
	width: var(--card-width);
	font-size: 25px;
	margin-bottom: 10px;
}

#start-game {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 150px;
	font-size: 50px;
	transform: translate(-50%, -50%);
	display: none;
}